#This is the Docker-compose file to build the Django container. This is not implemented but would be a great feature to add in the future.
services:
    dmdjango:
      hostname: "DM-django"
      build: .
      restart: unless-stopped
      command: python3 manage.py runserver 0.0.0.0:8000
      volumes:
        - .:/code
        - /fefs/onsite/data/R1/LSTN-01/lst-drive/DMonitoring/static:/code/DataStorage/static

    nginx:
        image: nginx
        restart: unless-stopped
        ports:
          - "8086:80"
        volumes:
          - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
          - /fefs/onsite/data/R1/LSTN-01/lst-drive/DMonitoring/static:/usr/share/nginx/html/static
        command: /bin/sh -c "chown -R nginx:nginx /usr/share/nginx/html/static && chmod -R 755 /usr/share/nginx/html/static && nginx -g 'daemon off;'"
        depends_on:
          - dmdjango
