{% extends "storage/base.html" %}

{% block title %} LST1-DM-{{data.0}} {% endblock %}
{% block menu %} 
    <header class="w-full lg:h-[5rem] flex flex-col lg:justify-center justify-start items-center lg:mb-3 border-b-2 lg:pb-4 pb-1">
        <nav class="flex lg:absolute lg:left-10 lg:top-5 lg:gap-x-3 gap-x-2 mb-2 lg:mb-0">
            <a class="driveMonitoring rounded-lg lg:p-3 p-2 hover:border-[#5298DE] border-[#325D88] font-semibold border-[0.25rem] sm:text-sm md:text-base" href="{% url 'driveMonitoring' %}">Drive Monitoring</a>
            <a class="loadPins rounded-lg lg:p-3 p-2 hover:border-black/50 border-grey-800 font-semibold border-[0.25rem] sm:text-sm md:text-base" href="{% url 'loadPins' %}">Load Pin Monitoring</a>
        </nav>
        <h1 class="title font-semibold lg:text-5xl text-2xl mb-1 text-[#3e3f3a]">LST-1 Drive Monitoring</h1>
        <div class="dateInput">
            <label for="date" class="subtitle text-[#3e3f3a] text-sm lg:text-xl">Date:</label>
            <input class="input hover:bg-gray-200 rounded-lg text-sm lg:text-xl" type="date" name="date" id="date" value="{{data.0}}">
        </div>
        <div class="description bg-gray-500 text-white absolute translate-y-[3.75rem] translate-x-[0.90rem] flex items-center p-1 rounded-lg hidden"><p>Click to open the calendar</p></div>
        {% load static %}
        <img class="lg:w-[14rem] lg:h-[6rem] w-[9rem] h-[4rem] lg:absolute right-10 top-1" src="{% static 'img/CTAOLogo.png'%}" alt="Cherenkov Telescopes Array logo">
    </header>
{% endblock %}
{% block content %} 
    {% if data %}
        <div class="filters w-[25vw] justify-self-center flex flex-col gap-y-0"></div>
        <div class="textData lg:w-[70vw] w-[100%] self-center flex flex-col gap-y-0 rounded-lg"></div>
    {% endif %}
{% endblock %}
